.alert {
  display: flex;
  align-items: center;
  /* margin: 4px 0; */
  border-top: 1px solid var(--color_button);
  padding: 12px 0;
}

.alert:last-child {
  border-bottom: none;
}

.below {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid red;
  margin-right: 8px;
  margin-left: auto;
  margin-top: 2px;
}

.above {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid green;
  margin-right: 8px;
  margin-left: auto;
}

.text {
  font-size: larger;
  font-family: "Ubuntu Mono", monospace;
}

.switch {
  margin-left: 8px;
}

.removeButton {
  outline: none;
  background: none;
  border: 1px solid transparent;
  color: var(--color_text);
  cursor: pointer;
  height: 28px;
  /* margin-left: 8px; */
}
