:root {
  --color_bg: rgb(12, 19, 34);
  --color_text: rgb(241, 245, 249);
  --color_button: rgb(61, 76, 108);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background: var(--color_bg);
  color: var(--color_text);
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* remove default button styling  */
button,
button:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  color: var(--color_text);
  cursor: pointer;
}

button:active {
  outline: none;
  font-family: inherit;
  color: var(--color_text);
}

button:disabled {
  cursor: default;
}

input:focus-visible {
  outline: 1px solid rgb(61 76 108);
}
