.input {
  height: 56px;
  width: 100%;
  font-size: x-large;
  background: rgb(23, 32, 51);
  box-shadow: none;
  border-radius: 6px;
  color: var(--color_text);
  padding: 0 16px;
  border: 3px solid transparent;
}

.input:focus-visible {
  border: 3px solid rgb(41, 53, 72);
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color_text);
  opacity: 0.5; /* Firefox */
}

.searchListItems {
  position: absolute;
  background: rgb(23, 32, 51);
  width: 100%;
  border: 3px solid rgb(41, 53, 72);
  border-radius: 6px;
  margin-top: 62px;
  max-width: 608px;
  z-index: 9999;
}

.searchListItem {
  color: var(--color_text);
  text-align: left;
  padding: 12px 18px;
  width: 100%;
}

.searchListItem:hover {
  background: #262c48;
}

.searchListItem:disabled:hover {
  background: inherit;
}

.searchListItem:disabled {
  opacity: 0.5;
}

.address {
  font-family: "Ubuntu Mono", monospace;
  font-size: small;
  opacity: 0.5;
  line-height: 1.4;
}
