.tokenHeader {
  display: flex;
  align-items: center;
}

.dexIcon {
  margin-left: -12px;
}

.dexIconImg {
  border-radius: 9999px;
}

.icons {
  flex-shrink: 0;
}

.nameAndSymbols {
  margin-left: 8px;
  min-width: 0; /* enables text-overflow: ellipsis on name */
}

.name {
  font-size: x-large;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pairSymbols {
  font-size: large;
  opacity: 0.7;
  /* color: rgb(203, 213, 225); */
}

.primarySymbol {
  font-weight: bold;
}
