.watchList {
  margin-top: 16px;
  width: 100%;
}

.watchListItem {
  position: relative;
  background: rgb(23, 32, 51);
  padding: 16px;
  margin-top: 8px;
  border-radius: 6px;
}

.removeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
  height: 28px;
  width: 28px;
  padding: 0;
  cursor: pointer;
}

.addAlertButton {
  color: white;
  font-size: medium;
  width: 100%;
  background: rgb(61 76 108);
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 4px;
  /* margin-top: 8px; */
  /* border: 1px solid white; */
}

.price {
  position: absolute;
  right: 16px;
  top: 48px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 22px;
}

.alerts {
  margin-top: 12px;
}
