.watchList {
  margin-top: 16px;
  width: 100%;
}

.watchListItem {
  position: relative;
  background: rgb(23, 32, 51);
  padding: 16px;
  margin-top: 8px;
}

.removeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  color: white;
  height: 28px;
  width: 28px;
  padding: 0;
  cursor: pointer;
}

/* remove default button styling  */
.addAlertButton,
.addAlertButton:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  font-family: inherit;
}

.addAlertButton:active {
  outline: none;
  background: #262c48;
  font-family: inherit;
}

.addAlertButton {
  color: white;
  font-size: medium;
  width: 100%;
  background: rgb(61 76 108);
  height: 36px;
  cursor: pointer;
  /* margin-top: 8px; */
  /* border: 1px solid white; */
}

.price {
  position: absolute;
  right: 16px;
  top: 46px;
  font-family: "Ubuntu Mono", monospace;
  font-size: x-large;
}

.alerts {
  margin-top: 16px;
}
